<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar película</title>
</head>
<body>
    <h1>Crear un película</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="nombre" id="nombre"/>
    <br>
    <label for="genero">Ingrese el género:</label>
    <input type="text" name="genero" id="genero"/>
    <br>
    <label for="duracion">Ingrese la duración:</label>
    <input type="number" name="duracion" id="duracion"/>
    <br>
    <label for="inventario">Ingrese el inventario:</label>
    <input type="number" name="inventario" id="inventario"/>
    <br>
    <button>Crear película</button>
    </form>
    <a href="/pelicula/">Regresar</a>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
</body>
</html>