<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar usuario</title>
</head>
<body>
    <h1>Eliminar un usuario</h1>
    <form method="post">
    <label for="id">Ingrese el ID del usuario a eliminar:</label>
    <input type="number" name="id" id="id"/>
    <br>
    <button>Eliminar</button>
    </form>
    <a href="/usuario/">Regresar</a>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
</body>
</html>