<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <th>{{ usuario.idUsuario }}</th>
            <th>{{ usuario.nombre }}</th>
            <th>{{ usuario.email }}</th>
        </tr>
        {% endfor %}
    </table>
    <a href="/usuario/">Regresar</a>
</body>
</html>
