.Clientes {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .Clientes h3 {
    color: #666;
    margin-top: 20px;
  }
  
  .Clientes .agregar-usuario-form {
    margin-top: 20px;
  }
  
  .Clientes .agregar-usuario-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .Clientes .agregar-usuario-form input[type="text"],
  .Clientes .agregar-usuario-form input[type="password"],
  .Clientes .agregar-usuario-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .Clientes .agregar-usuario-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Clientes .agregar-usuario-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .Clientes .tabla-usuarios {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Clientes .tabla-usuarios th,
  .Clientes .tabla-usuarios td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .Clientes .tabla-usuarios th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .Clientes .tabla-usuarios tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .superUser-checkbox {
    /* Estilos para ocultar el input original */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.superUser-checkbox + label {
    /* Estilos para el diseño del label */
    position: relative;
    padding-left: 25px; /* Espacio para el nuevo diseño del checkbox */
    cursor: pointer;
}

/* Estilos para el diseño del nuevo checkbox */
.superUser-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #555; /* Color del borde */
    background-color: #fff; /* Color de fondo */
}

/* Estilos para mostrar el checkmark cuando el checkbox está seleccionado */
.superUser-checkbox:checked + label:before {
    background-color: #2196F3; /* Cambia el color de fondo cuando está seleccionado */
}

.superUser-checkbox + label:after {
    content: '';
    position: absolute;
    left: 5px; 
    top: 1px; 
    width: 5px;
    height: 10px;
    border: solid #fff; 
    border-width: 0 3px 3px 0; 
    transform: rotate(45deg); 
    display: none; 
}

.superUser-checkbox:checked + label:after {
    display: block;
}

.agregar-usuario-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .agregar-usuario-btn:hover {
    background-color: #0056b3;
  }
  